.invoice-container {
    width: 80%;
    margin: 50px auto;
    font-family: Arial, sans-serif;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.invoice-header {
<<<<<<< HEAD
    text-align: center;
=======
    /* text-align: center; */
>>>>>>> 4811b4f248ab8a21edc86372af783c9cae638d54
    margin-bottom: 20px;
}

.invoice-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.invoice-details-left,
.invoice-details-right {
    width: 45%;
}

.invoice-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.invoice-table th,
.invoice-table td {
    border: 1px solid #ccc;
    padding: 8px;
}

.invoice-footer {
    text-align: right;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 20px;
}
<<<<<<< HEAD
=======

@media print {
    header {
        display: none;
    }

    .invoice-container{
        display: block;
    }
}


>>>>>>> 4811b4f248ab8a21edc86372af783c9cae638d54
