.rider-details-container {
    padding: 20px;
}

.rider-details {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.button-group {
    margin-right: 20px;
    margin-top: 20px;
}

.edit-button, .delete-button {
    padding: 8px 16px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.edit-button:hover, .delete-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #dc3545;
}
